<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="false"
      internalLogLevel="Off" >
  <!-- See http://nlog-project.org/wiki/Configuration_file for information on customizing logging rules and outputs. -->

  <variable name="logDirectory" value="${basedir}\logs" />
  <variable name="logFilename" value="MyNet.Wpf.TestApp_${shortdate}.log" />
  <variable name="layout" value="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

  <!-- the targets to write to -->
  <targets>
    
    <target xsi:type="ColoredConsole" name="coloredConsole" useDefaultRowHighlightingRules="false" layout="${layout}" detectConsoleAvailable="true" detectOutputRedirected="true">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Cyan" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="DarkRed" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
    </target>
    <target xsi:type="File" name="file" fileName="${logDirectory}/${logFilename}" layout="${layout}" maxArchiveFiles="10" />
    <target xsi:type="Debugger" name="debugger" layout="${layout}"/>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>