<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyNet.Wpf.TestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyNet.Wpf.TestApp.Properties.Settings>
            <setting name="ThemeBase" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>fr-FR</value>
            </setting>
            <setting name="ThemePrimaryColor" serializeAs="String">
                <value>#FFF6CB08</value>
            </setting>
            <setting name="ThemeAccentColor" serializeAs="String">
                <value>#FF5EC509</value>
            </setting>
        </MyNet.Wpf.TestApp.Properties.Settings>
    </userSettings>
</configuration>